<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Estimote Mint Cocktail</key>
	<string>430F6ED4-7E4F-4F63-85C7-845763861A55</string>
	<key>Estimote Icy Marshmallow</key>
	<string>B9407F30-F5F8-466E-AFF9-25556B57FE6D</string>
	<key>Estimote Blueberry Pie</key>
	<string>3A7E7514-A9AC-41F3-A236-3CFCE75BAC95</string>
</dict>
</plist>
